
@{
    ViewBag.Title = "Add Recommendation";
    @* the benefit of storing the title here is that it sets everything including the stuff in the layout here *@
}

    <h1>Add a song</h1>
<form method="post">
    <p>Song spotify URI:</p>
    <input id="inputSongUri" name="SpotifyUri"/>
    <input type="submit" value="submit song"/>
</form>

