@model IEnumerable<ArtistEntity>
@{
    ViewBag.Title = "Artists";
}

<p>Counts: @Model.Count()</p>
@*rows will treat ehats in a row as a  grid of 12*@
<div class="row">
    @foreach (var b in Model)
    {
    <div class="col-md-3">
        <div class="table-bordered bg-info rounded p-1 artist">
            <p>
                @b.Name
            <p>


            <p>Genres:</p>
            <ul>
                @foreach (var g in b.ArtistsGenres)
                {
                    <li>@g.Genre.Name</li>
                }
            </ul>
            <br />
            @*image-fluid is for dealing with image sizing*@
            <img src="@((b.Images.Count != 0) ? b.Images.First().Url : "")" class="image-fluid" />
        </div>       
     </div>
    }
</div>
