<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            color:blueviolet;
        }
    </style>
    <title>
        @ViewBag.Title
    </title>
</head>
<body>
    <section>
        @* takes the body of a cshtml file and renders it in the section*@
        @RenderBody()
    </section>
</body>
</html>