<!DOCTYPE html>
<html>
<head>
    <link href="~/node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            color: blueviolet;
        }
    </style>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <title>
        @ViewBag.Title
    </title>
</head>
<body>
    @*building a header with the bs class container*@ 
    <header class="container-fluid">      
        @* navbar is a bootstrap class that makes a navbar that's good on desktop and mobile *@
        @* navbar brand is a special class *@
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand">You Should Check Out This Band <i class="fa fa-music"></i></h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="AddRecommendation">Suggest a song</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Bands">Find A Band To Listen To</a>
                    </li>
                </ul>
            </div>        
        </nav>
    </header>

    
    <section>
        @* takes the body of a cshtml file and renders it in the section*@
        @RenderBody()
    </section>
</body>
</html>